html * {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #171D1A;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.0em;
}

h4 {
    font-size: 1.8em;
}

p {
    font-size: 1.5em;
}

body {
    max-width: 100vh;
    min-width: calc(100vw / 2);
    margin-left: auto;
    margin-right: auto;
}

i, em {
    font-style: italic;
}

/* Colors */
/* Color Theme Swatches in Hex */
/* .Neutrals-Palette-1-hex { color: #361E20; } */
/* .Neutrals-Palette-2-hex { color: #F5F0E9; } */
/* .Neutrals-Palette-3-hex { color: #FAF9F6; } */
/* .Neutrals-Palette-4-hex { color: #C7C3B9; } */
/* .Neutrals-Palette-5-hex { color: #171D1A; } */

h1, h2 {
    color: #361E20;
    font-weight: 600;
    font-style: normal;
}

.ascent, .descent, .distance, .time {
    border-style: solid;
    border-width: 2px;
    border-color: #C7C3B9;
    background-color: #FAF9F6;
    border-radius: 6px 1px;
    padding: 0.15ex 0.75ex;
    font-weight: 500;
    font-style: italic;
    line-height: 1.5em;
}

.dayheader {
    position: relative;
    padding: 0;
    padding-bottom: 2em;
    margin: 0;
    border: blue;
}

.dayheader h2 {
    display: block;
    vertical-align: top;
    margin-bottom: 0.05em;
}

.dayheader .destfrom {
    position: relative;
    margin-left: 2em;
    font-weight: 500;
    font-style: italic;
    float: left;
}

.destfrom:after {
    content: "→";
    display: inline;
    float: right;
    font-style: normal;
    margin-left: 1ex;
    margin-right: 1ex;
}

.dayheader .destto {
    position: relative;
    display: inline;
    font-weight: 500;
    font-style: italic;
}

.dayheader .ascent {
    position: absolute;
    right: 12ex;
    bottom: 0;
    display: block;
    width: 9ex;
}

.dayheader .descent {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 9ex;
}

.dayheader .time {
    position: absolute;
    right: 24ex;
    bottom: 0;
    display: block;
    width: 9ex;
}

.dayheader .distance {
    position: absolute;
    right: 36ex;
    bottom: 0;
    display: block;
    width: 9ex;
}

/* Symbols and units */
.destfrom:before {
    content: "↪";
    font-style: normal;
    margin-right: 0.5ex;
}

.ascent:before {
    content: "↗";
    font-style: normal;
    margin-right: 0.5ex;
}

.ascent:after {
    content: "m";
}

.descent:before {
    content: "↘";
    font-style: normal;
    margin-right: 0.5ex;
}

.descent:after {
    content: "m";
}

.distance:before {
    content: "⇄";
    font-style: normal;
    margin-right: 0.5ex;
}

.distance:after {
    content: "km";
}

.time:before {
    content: "⏲";
    font-style: normal;
    margin-right: 0.5ex;
}

/* Texts */
.textblock {
    display: block;
    position: relative;
    background: #F5F0E9;
    margin: 1em 0;
    padding: 1em;
}

/* Images */
.imageblock {
    background: #F5F0E9;
    margin: 1em 0;
    padding: 1em;
}

.imageblock, .imagerow {
    display: -webkit-box; /* wkhtmltopdf workaround */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1em;
    -webkit-box-pack: justify; /* wkhtmltopdf workaround */
    justify-content: space-between;
}

.imageblock + .multirow {
    flex-direction: column;
}

.imagerow {
    display: block;
    flex: 1 1 0;
}

.imageblock > div {
    -webkit-box-flex: 1; /* wkhtmltopdf workaround */
    -webkit-flex: 1; /* wkhtmltopdf workaround */
    flex: 1 1 0;
    /*border: solid medium red;*/
}

.imageblock > * + * {
    -webkit-margin-start: 1em /* wkhtmltopdf workaround */
}

.imagetext {
    padding-left: 1em;
    font-size: 1.8em;
    font-weight: 600;
    position: relative;
    display: block;
}

.fullsize .image {

}

.twoimages .image {

}

.threeimagestop .image {

}

.threeimagesbottom .image {

}

.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100vh;
}

.image p {
    margin: 0;
    padding: 0;
    display: inline;
}
